html,#app, #app>div {
  height: 100vh;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #212529;
}

h1,h2,h3,h4,h5,p {
  color: white;
}